*/Unit 1 - Exercises
*/Unit 2 - Exercises
*/Unit 3 - Exercises
*/Unit 4 - Exercises
*/GP2DFramework2019-SpaceInvaders
*/GP2DFramework2019
*/Documents
*/shared
FWT - 16945724.zip
*.ipch
*.opendb
*/.svn
*.svn
*.db
*.svn-base
*.log
*.ipch
*.obj

*.lib
*.suo
*.user
*.pdb
*.idb
*.ilk
*.sdf
*.pch
*.res
*.asp
*.tlog
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo __pycache__
*.rej
*~ #*# .#* .*.swp .DS_Store [Tt]humbs.db
COMP710-2019-S2/.svn/wc.db
COMP710-2019-S2/students/nikkolas.diehl/Really Warm/Debug/Really Warm.exe
COMP710-2019-S2/students/nikkolas.diehl/Really Warm/Release/Really Warm.exe
