*.svn
*.db
*.svn-base
*.log
*.ipch
*.obj
*.exe
*.lib
*.suo
*.user
*.pdb
*.idb
*.ilk
*.sdf
*.pch
*.res
*.asp
*.tlog
*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo __pycache__
*.rej
*~ #*# .#* .*.swp .DS_Store [Tt]humbs.db
